@model IEnumerable<GreekHealthcareNetwork.Models.DoctorsUnavailability>

@{
    ViewBag.Title = "Unavailabilities";
}

@section cssScripts{
    <link href="@Url.Content("~/Content/TestPlaton.css")" type="text/css" rel="stylesheet" />
    <style>
        .modal-lg {
            max-width: 600px;
        }
    </style>
}
<main id="main" class="mt-4">
    <div class="col-8 offset-2">
        <div class="page-header d-flex justify-content-between">
            <h1>
                @ViewBag.Title
            </h1>
            <p>
                <button id="declareUnavailability" class="btn btn-outline-dark">Declare unavailability period</button>
            </p>
        </div>

        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UnavailableFrom)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnavailableUntil)
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="3">
                            You have not declared any unavailabilities yet.
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnavailableFrom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnavailableUntil)
                            </td>
                            <td>
                                <button class="btn btn-warning table-button">Edit</button>
                                <button class="btn btn-danger table-button">Delete</button>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</main>

<div class="modal fade" id="declareUnavailabilityModal" tabindex="-1" role="dialog" aria-labelledby="declareUnavailabilityModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="declareUnavailabilityModalLabel">Unavailability Period</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form id="unavailabilityForm" class="form-horizontal">
                        <div class="form-row mb-3">
                            <p class="col-md-3 control-label" style="padding-top: 25px;">Unavailable From:</p>
                            <div class="form-group">
                                <label for="UnavailableFromDate" class="col-md-12 control-label">Date</label>
                                <div class="col-md-12">
                                    <input id="UnavailableFromDate" name="UnavailableFromDate" class="form-control" type="date" data-val="true" data-val-required="Required field" data-val-min="Min value violation">
                                    <span class="field-validation-valid text-danger" data-valmsg-for="UnavailableFromDate" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="UnavailableFromTime" class="col-md-12 control-label">Time</label>
                                <div class="col-md-12">
                                    <input id="UnavailableFromTime" name="UnavailableFromTime" class="form-control" type="Time" data-val="true" data-val-required="Required field">
                                    <span class="field-validation-valid text-danger" data-valmsg-for="UnavailableFromTime" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row mb-3">
                            <p class="col-md-3 control-label" style="padding-top: 25px;">Unavailable Until:</p>
                            <div class="form-group">
                                <label for="UnavailableUntilDate" class="col-md-12 control-label">Date</label>
                                <div class="col-md-12">
                                    <input id="UnavailableUntilDate" name="UnavailableUntilDate" class="form-control" type="date" data-val="true" data-val-required="Required field">
                                    <span class="field-validation-valid text-danger" data-valmsg-for="UnavailableUntilDate" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="UnavailableUntilTime" class="col-md-12 control-label">Time</label>
                                <div class="col-md-12">
                                    <input id="UnavailableUntilTime" name="UnavailableUntilTime" class="form-control" type="Time" data-val="true" data-val-required="Required field" data-val-min="Min value violation">
                                    <span class="field-validation-valid text-danger" data-valmsg-for="UnavailableUntilTime" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success" id="declare">Declare</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        jQuery.extend(jQuery.validator.messages, {
            required: "This field is required.",
            remote: "Please fix this field.",
            email: "Please enter a valid email address.",
            url: "Please enter a valid URL.",
            date: "Please enter a valid date.",
            dateISO: "Please enter a valid date (ISO).",
            number: "Please enter a valid number.",
            digits: "Please enter only digits.",
            creditcard: "Please enter a valid credit card number.",
            equalTo: "Please enter the same value again.",
            accept: "Please enter a value with a valid extension.",
            maxlength: jQuery.validator.format("Please enter no more than {0} characters."),
            minlength: jQuery.validator.format("Please enter at least {0} characters."),
            rangelength: jQuery.validator.format("Please enter a value between {0} and {1} characters long."),
            range: jQuery.validator.format("Please enter a value between {0} and {1}."),
            max: jQuery.validator.format("Max value violation"),
            min: jQuery.validator.format("Min value violation")
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#declareUnavailability').click(() => $('#declareUnavailabilityModal').modal('show'));
            const today = new Date();
            const day = String(today.getDate()).padStart(2, '0');
            const month = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            const year = today.getFullYear();
            const date = year + '-' + month + '-' + day
            $('#UnavailableFromDate').attr('min', date);
            $('#UnavailableUntilDate').attr('min', date);
            $('#UnavailableFromDate').change(function () {
                const value = $(this).val();
                if ($('#UnavailableUntilDate').val() == value) {
                    if ($('#UnavailableUntilTime').val() < $('#UnavailableFromTime').val()) {
                        $('#UnavailableUntilTime').val($('#UnavailableFromTime').val());
                    }
                } else if ($('#UnavailableUntilDate').val() < value) {
                    $('#UnavailableUntilDate').val(value);
                }
                $('#UnavailableUntilDate').attr('min', value);
            });
            $('#UnavailableUntilDate').change(function () {
                const value = $(this).val();
                if ($('#UnavailableFromDate').val() == value) {
                    if ($('#UnavailableUntilTime').val() < $('#UnavailableFromTime').val()) {
                        $('#UnavailableUntilTime').val($('#UnavailableFromTime').val());
                    }
                }
            });
            $('#UnavailableFromDate').change(function () {
                const value = $(this).val();
                if ($('#UnavailableFromDate').val() == $('#UnavailableUntilDate').val()) {
                    $('#UnavailableUntilTime').val(value);
                    $('#UnavailableUntilTime').attr('min', value);
                }
                else {
                    $('#UnavailableUntilTime').removeAttr('min');
                }
            });
            $('#declare').click(function (e) {
                e.preventDefault();
                const $form = $('#unavailabilityForm');
                $.validator.unobtrusive.parse($form);
                $form.validate();
                console.log($form.validate().errorList);
                if (!$form.valid()) {
                    console.log($form.validate().errorList);
                    $.each($form.validate().errorList, function (key, value) {
                        console.log(value);
                        const $errorSpan = $("span[data-valmsg-for='" + value.element.id + "']");
                        $errorSpan.html("<span style='color:red'>" + value.message + "</span>");
                        $errorSpan.show();
                    });
                }
            });
        })
    </script>
}