@model GreekHealthcareNetwork.Models.RegisterViewModel

@{
    ViewBag.Title = "Create Admin User";
}

<section id="pageHeader" class="offset-left-messages container my-3">
    <h2>@ViewBag.Title</h2>
</section>

<section id="adminInfo" class="offset-left-messages container">
    <hr class="thicker" />
    @using (Html.BeginForm("CreateAdminUser", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-row">
            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-6 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-6 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-6 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-6 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-6 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.LastName, new { @class = "col-md-6 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-6 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.DoB, new { @class = "col-md-6 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.DoB, new { @class = "form-control", type = "date", max = DateTime.Now.AddYears(-18).Date.ToString("yyyy-MM-dd") })
                    @Html.ValidationMessageFor(m => m.DoB, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.AMKA, new { @class = "col-md-6 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.AMKA, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.AMKA, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.PaypalAccount, new { @class = "col-md-6 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.PaypalAccount, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PaypalAccount, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.ProfilePicture, new { @class = "col-md-6 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.ProfilePicture, new { @class = "form-control", type = "file", accept = "image/*" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-outline-dark" value="Create" />
            </div>
        </div>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
