@{
    ViewBag.Title = "Insureds";
}
@section cssScripts{
    <link href="@Url.Content("~/Content/TestPlaton.css")" type="text/css" rel="stylesheet" />
    <style>
        body {
            width: 170vw;
        }
    </style>
}

<main id="main" class="offset-left mt-5">
    <div class="page-header">
        <h1>
            Insureds
        </h1>
    </div>
    @Html.Partial("_AdminSearchPartial")
    <div class="table-responsive">
        <table class="table mt-4" id="insuredsList">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Insured Plan</th>
                    <th scope="col">AMKA</th>
                    <th scope="col">Telephon</th>
                    <th scope="col">Paypal Account</th>
                    <th scope="col">Refund Pending</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</main>

<div class="modal fade" id="updatedUserModal" tabindex="-1" role="dialog" aria-labelledby="updatedUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="updatedUserModalLabel">Success</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>User updated successfully!</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="paymentResultModal" tabindex="-1" role="dialog" aria-labelledby="paymentResultModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="paymentResultModalLabel">Result</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="resultMessage"></p>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_NewMessage")

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $(document).ready(function () {
        ListInsureds('', '', -1);
        function ListInsureds(firstName, lastName, insuredPlanId) {
            $.ajax({
                dataType: 'json',
                type: 'get',
                url: '/api/Search/SearchInsuredResults?insuredsFirstName=' + firstName + '&insuredsLastName=' + lastName + '&insuredPlanId=' + insuredPlanId,
                success: function (data) {
                    $('#insuredsList tbody').empty();
                    data.forEach(function (insured) {
                        $('#insuredsList tbody').append(
                              '<tr><td><img src="@Url.Content("~/Content/img/Insureds/")' + insured.User.Id + '/' + insured.User.ProfilePicture + '" alt="' + insured.User.ProfilePicture + '"' + 'class="rounded-circle">'
                            + '</td><td>' + insured.User.FirstName
                            + '</td><td>' + insured.User.LastName
                            + '</td><td>' + insured.HomeAddress
                            + ((insured.InsuredPlan == null) ? '</td><td>No Plan' : '</td><td>' + insured.InsuredPlan.Name)
                            + '</td><td>' + insured.User.AMKA
                            + '</td><td>' + insured.User.PhoneNumber
                            + '</td><td>' + insured.User.PaypalAccount
                            + '</td><td>' + parseFloat(insured.RefundPending).toFixed(2) + ' &euro;'
                            + '</td>'
                            + '<td><button class="btn btn-success table-button editBtn" data-id="' + insured.UserId + '" >Edit</button>'
                            + ((insured.User.IsActive == true) ? '<button class="btn btn-danger table-button setActiveBtn" data-is-active="true" data-id="' + insured.UserId + '">Deactivate</button>' : '<button class="btn btn-danger table-button setActiveBtn" data-is-active="false" style="width:101.2px; height:38px" data-id="' + insured.UserId + '">Activate</button>')
                            + '<button class="btn btn-primary table-button sendMessageBtn" data-id="' + insured.UserId + '" >Message</button>'
                            + ((insured.InsuredPlan == null || insured.InsuredPlan.Name == 'Gold' || insured.RefundPending == 0) ? '<button class= "btn btn-secondary table-button disabled" data-id="' + insured.User.Id + '">Refund</button></td>' : '<button class= "btn btn-secondary table-button refundBtn" data-id="' + insured.User.Id + '">Refund</button></td>')
                            + '</tr>')
                    });
                    $('.editBtn').on('click', function (e) {
                        var grandParent = $(this).parent().parent();
                        grandParent.append('<form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>');
                        var firstName = grandParent.children('td:nth-child(2)').html();
                        grandParent.children('td:nth-child(2)').html("");
                        grandParent.children('td:nth-child(2)').append('<input type="text" class="form-control col-10" value="' + firstName + '">');
                        var lastName = grandParent.children('td:nth-child(3)').html();
                        grandParent.children('td:nth-child(3)').html("");
                        grandParent.children('td:nth-child(3)').append('<input type="text" class="form-control col-10" value="' + lastName + '">');
                        var address = grandParent.children('td:nth-child(4)').html();
                        grandParent.children('td:nth-child(4)').html("");
                        grandParent.children('td:nth-child(4)').append('<input type="text" class="form-control col-10" value="' + address + '">');
                        var amka = grandParent.children('td:nth-child(6)').html();
                        grandParent.children('td:nth-child(6)').html("");
                        grandParent.children('td:nth-child(6)').append('<input type="text" class="form-control col-10" value="' + amka + '">');
                        var tel = grandParent.children('td:nth-child(7)').html();
                        grandParent.children('td:nth-child(7)').html("");
                        grandParent.children('td:nth-child(7)').append('<input type="text" class="form-control col-10" value="' + tel + '">');
                        var paypalAccount = grandParent.children('td:nth-child(8)').html();
                        grandParent.children('td:nth-child(8)').html("");
                        grandParent.children('td:nth-child(8)').append('<input type="text" class="form-control col-10" value="' + paypalAccount + '">');
                        var id = $(this).data('id');
                        grandParent.children('td:nth-child(10)').children().hide();
                        grandParent.children('td:nth-child(10)').append('<button class="btn btn-success table-button updateBtn" data-id="' + id + '" >Update</button>');
                        grandParent.children('td:nth-child(10)').append('<button class="btn btn-danger table-button cancelUpdateBtn" data-id="' + id + '">Cancel</button>');
                        updateButtonClicked();
                        cancelUpdateButtonClicked()
                    });

                    $('.setActiveBtn').on('click', function () {
                        var id = $(this).data('id');
                        var isActive = $(this).data('is-active');
                        console.log(id);
                        console.log(isActive);
                        $.ajax({
                            url: '@Url.Action("AdminSetUserActiveInactive", "Admin")',
                            type: 'PUT',
                            data: JSON.stringify({ 'userId': id, 'isUserActive': isActive }),
                            contentType: 'application/json; charset=utf-8',
                            success() {
                                ListInsureds($('#search').children()[0].value, $('#search').children()[1].value, $('#search').children()[3].value);
                            },
                            error: function () {
                                console.log('ERROR!');
                            }
                        });
                    });
                    $('#send').click(function (e) {
                        if ($('#send').hasClass("noClick")) {
                            e.preventDefault();
                        }
                        else {
                            $('#send').addClass("noClick");
                            const $form = $('#messagearea');
                            $.validator.unobtrusive.parse($form);
                            $form.validate();
                            if ($form.valid()) {
                                let model = new Object();
                                model.Message = new Object();
                                model.Message.ConversationId = 0;
                                model.Message.SenderId = $('#Message_SenderId').val();
                                model.Message.RecipientId = $('#Message_RecipientId').val();
                                model.Message.Subject = $('#Message_Subject').val();
                                model.Message.MessageText = $('#Message_MessageText').val();
                                model.FirstName = "";
                                model.LastName = "";
                                model.InsuredPlans = [];
                                model.DoctorSpecialty = -1;
                                model.MedicalSpecialties = [];
                                model.AppointmentDate = null;
                                model.UserName = $('#UserName1').val();
                                model.Password = $('#Password1').val();
                                model.RememberMe = false;
                                model.VisitorMessage = null;
                                model = JSON.stringify(model)
                                $.ajax({
                                    contentType: 'application/json',
                                    type: 'post',
                                    url: '/api/Messages',
                                    data: model,
                                    cache: false,
                                    processData: false,
                                    success: function () {
                                        $('#Message_Subject').val("");
                                        $('#Message_MessageText').val("");
                                        $('#normalContainerMessage').hide();
                                        $('#errorContainerMessage').hide();
                                        $('#successContainerMessage').show();
                                        setTimeout(function () {
                                            $('#newMessage').modal("hide");
                                        }, 3000)
                                    },
                                    error: function (error) {
                                        $('#errorContainerMessage').show();
                                        const errorObject = error.responseJSON.ModelState;
                                        $('#messagearea div.validation-summary-errors > ul').children().remove();
                                        for (var property in errorObject) {
                                            if (errorObject.hasOwnProperty(property)) {
                                                if (property == '') {
                                                    $('#messagearea div.validation-summary-errors > ul').append('<li>' + errorObject[property] + '</li>')
                                                }
                                            }
                                        }
                                        const $form = $('#messagearea');
                                        $.validator.unobtrusive.parse($form);
                                        $form.validate();
                                        if (!$form.valid()) {
                                            $.each($form.validate().errorList, function (key, value) {
                                                const $errorSpan = $("span[data-valmsg-for='" + value.element.id + "']");
                                                $errorSpan.html("<span style='color:red'>" + value.message + "</span>");
                                                $errorSpan.show();
                                            });
                                        }
                                    }
                                });
                            }
                            else {
                                $('#errorContainerMessage').show();
                                console.log($form.validate().errorList);
                                $.each($form.validate().errorList, function (key, value) {
                                    console.log(value);
                                    const $errorSpan = $("span[data-valmsg-for='" + value.element.id + "']");
                                    $errorSpan.html("<span style='color:red'>" + value.message + "</span>");
                                    $errorSpan.show();
                                });
                            }
                            setTimeout(function() {
                                $('#send').removeClass("noClick");
                            }, 4000);
                        }
                    })
                    $('.sendMessageBtn').click(function (e) {
                        let id = $(e.target).data('id');
                        $('#errorContainerMessage').hide();
                        $('#successContainerMessage').hide();
                        $('#Message_RecipientId').val(id);
                        $('#normalContainerMessage').show();
                        $('#newMessage').modal('show');
                    })
                    $('#newMessage').on('hidden.bs.modal', function () {
                        $('#messagearea').trigger('reset');
                        $('#messagearea div.validation-summary-valid').addClass('validation-summary-errors').removeClass('validation-summary-valid');
                        $('#messagearea span[data-valmsg-for="Message.Subject"]').children().remove();
                        $('#messagearea span[data-valmsg-for="Message.MessageText"]').children().remove();
                        $('#messagearea div.validation-summary-errors > ul').children().remove();
                    })
                    $('.refundBtn').click(function (e) {
                        const date = new Date();
                        const amountValue = parseFloat($(this).parent().prev().text().split(' ')[0]).toFixed(2);
                        const email = $(this).parent().prev().prev().text().trim();
                        const insuredId = $(e.target).data('id');
                        $.ajax({
                            type: 'get',
                            url: '/Payment/GetAccessToken',
                            dataType: 'json',
                            success: function (data) {
                                let payment = new Object();
                                payment.sender_batch_header = new Object();
                                payment.sender_batch_header.sender_batch_id = 'Payouts_' + date;
                                payment.sender_batch_header.email_subject = 'You have a refund!';
                                payment.sender_batch_header.email_message = 'You have received a refund! Thanks for using our service!';
                                payment.items = [];
                                payment.items[0] = new Object();
                                payment.items[0].recipient_type = 'EMAIL';
                                payment.items[0].amount = new Object();
                                payment.items[0].amount.value = amountValue;
                                payment.items[0].amount.currency = 'EUR';
                                payment.items[0].note = 'Thanks for your patronage';
                                payment.items[0].sender_item_id = '' + date.getFullYear() + (date.getMonth() + 1) + date.getDate() + '0001';
                                payment.items[0].receiver = email;
                                $.ajax({
                                    type: 'post',
                                    url: 'https://api.sandbox.paypal.com/v1/payments/payouts',
                                    dataType: 'json',
                                    contentType: 'application/json',
                                    beforeSend: function (xhr) {
                                        xhr.setRequestHeader('Authorization', data);
                                    },
                                    data: JSON.stringify(payment),
                                    processData: false,
                                    success: function (data) {
                                        console.log(data);
                                        console.log(insuredId)
                                        $.ajax({
                                            type: 'put',
                                            url: '/Insureds/SetRefundToZero?insuredId=' + insuredId,
                                            success: function () {
                                                console.log('success');
                                                $(e.target).parent().prev().html(parseFloat('0').toFixed(2) + ' &euro;')
                                                $(e.target).off('click');
                                                $(e.target).removeClass('refundBtn').addClass('disabled');
                                                $('#resultMessage').text('Payment was completed successfully!');
                                                $('#paymentResultModal').modal('show');
                                                setTimeout(function () {
                                                    $('#paymentResultModal').modal("hide");
                                                }, 4000)
                                            },
                                            error: function () {
                                                console.log('error')
                                                $('#resultMessage').text('Payment was not completed successfully!');
                                                $('#paymentResultModal').modal('show');
                                                setTimeout(function () {
                                                    $('#paymentResultModal').modal("hide");
                                                }, 4000)
                                            }
                                        })
                                    },
                                    error: function (error) {
                                        console.log(error);
                                    }
                                })
                            },
                            error: function (error) {
                                console.log(error)
                            }
                        })
                    })
                },
                error: function (error) {
                    console.log(error)
                }
            })
        }
        $('#search').on('submit', function (e) {
            e.preventDefault();
            ListInsureds(e.target[0].value, e.target[1].value, e.target[2].value);
        })
        function AddAntiForgeryToken (data) {
            data.__RequestVerificationToken = $('#__AjaxAntiForgeryForm input[name=__RequestVerificationToken]').val();
            return data;
        };
        function cancelUpdateButtonClicked() {
            $('.cancelUpdateBtn').on('click', function (e) {
                ListInsureds($('#search').children()[0].value, $('#search').children()[1].value, $('#search').children()[3].value);
            });
        }
        function updateButtonClicked() {
            $('.updateBtn').on('click', function (e) {
                var grandParent = $(this).parent().parent();
                var firstName = grandParent.children('td:nth-child(2)').children('input').val();
                var lastName = grandParent.children('td:nth-child(3)').children('input').val();
                var address = grandParent.children('td:nth-child(4)').children('input').val();
                var amka = grandParent.children('td:nth-child(6)').children('input').val();
                var tel = grandParent.children('td:nth-child(7)').children('input').val();
                var paypalAccount = grandParent.children('td:nth-child(8)').children('input').val();
                var id = $(this).data('id');
                var isDataValid = dataValidation(grandParent, firstName, lastName, amka, address)
                if (isDataValid) {
                    var modifiedUser = {
                        User: {
                            Id : id,
                            FirstName : firstName,
                            LastName : lastName,
                            AMKA : amka,
                            PaypalAccount : paypalAccount,
                            PhoneNumber: tel,
                        },
                        Insured: {
                            HomeAddress: address
                        }
                    };
                    $.ajax({
                        url: '@Url.Action("UpdateUser", "Admin")',
                        type: 'PUT',
                        data: AddAntiForgeryToken(modifiedUser),
                        success: function (data) {
                            grandParent.children('td:nth-child(2)').html(firstName);
                            grandParent.children('td:nth-child(3)').html(lastName);
                            grandParent.children('td:nth-child(4)').html(address);
                            grandParent.children('td:nth-child(6)').html(amka);
                            grandParent.children('td:nth-child(7)').html(tel);
                            grandParent.children('td:nth-child(8)').html(paypalAccount);
                            grandParent.children('td:nth-child(10)').children().show();
                            grandParent.children('td:nth-child(10)').children('.updateBtn').hide();
                            grandParent.children('td:nth-child(10)').children('.cancelUpdateBtn').hide();
                            $('#updatedUserModal').modal('show');
                            setTimeout(function () {
                                $('#updatedUserModal').modal('hide');
                            }, 1500);
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }
            });
        }
        function dataValidation(grandParent, firstName, lastName, amka, address) {
            grandParent.children('td').children('span').remove();
            grandParent.children('td').children('br').remove();

            var RGEXpassed = true;
            var nameMinLenRGEX =  /^.{2,}$/;
            var nameMaxLenRGEX = /^.{0,50}$/;
            var nameRGEX = /^[A-Z][a-z]*$|^[Α-Ω][α-ωάήίόέύώϊϋΐΰ]*$ /;
            var amkaRGEX = /^.{11}$/;
            var addressMinLenRGEX = /^.{10,}$/;
            var addressMaxLenRGEX = /^.{0,100}$/;

            if (!nameMinLenRGEX.test(firstName)) {
                RGEXpassed = false
                grandParent.children('td:nth-child(2)').append('<span>&#8226;First name cannot be less than 2 characters.</span><br>')
            }
            if (!nameMaxLenRGEX.test(firstName)) {
                RGEXpassed = false
                grandParent.children('td:nth-child(2)').append('<span>&#8226;First name cannot be more than 50 characters.</span><br>')
            }
            if (!nameRGEX.test(firstName)) {
                RGEXpassed = false
                grandParent.children('td:nth-child(2)').append('<span>&#8226;First Name must start with capital letter and then contain only small letters of the same language.</span><br>')
            }
            if (!nameMinLenRGEX.test(lastName)) {
                RGEXpassed = false
                grandParent.children('td:nth-child(3)').append('<span>&#8226;Last name cannot be less than 2 characters.</span><br>')
            }
            if (!nameMaxLenRGEX.test(lastName)) {
                RGEXpassed = false
                grandParent.children('td:nth-child(3)').append('<span>&#8226;Last name cannot be more than 50 characters.</span><br>')
            }
            if (!nameRGEX.test(lastName)) {
                RGEXpassed = false
                grandParent.children('td:nth-child(3)').append('<span>&#8226;Last Name must start with capital letter and then contain only small letters of the same language.</span><br>')
            }
            if (!amkaRGEX.test(amka)) {
                RGEXpassed = false
                grandParent.children('td:nth-child(6)').append('<span>&#8226;AMKA should be 11 digits.</span><br>')
            }
            if (!addressMinLenRGEX.test(address)) {
                RGEXpassed = false
                grandParent.children('td:nth-child(5)').append('<span>&#8226;Address length cannot be less than 10 characters.</span><br>')
            }
            if (!addressMaxLenRGEX.test(address)) {
                RGEXpassed = false
                grandParent.children('td:nth-child(5)').append('<span>&#8226;Address length cannot be more than 100 characters.</span><br>')
            }
            return RGEXpassed;
        }
    })

    </script>
}
