@model GreekHealthcareNetwork.Models.PayAppointmentChargeViewModel
@using Microsoft.AspNet.Identity;
@using System.Globalization;
@{
    ViewBag.Title = "Pay Appointment Charge";
    var CurrentUserId = User.Identity.GetUserId();
}

    <section id="PaymentInfo" class="container">
        <h2 class="my-3">@ViewBag.Title</h2>
        <p class="mb-3"> Your paypal account will be charged: @Model.AppointmentCharge.ToString("0.00")&euro;</p>
        <p class="mb-3" style="color:red"> You have 10 minutes to complete the payment. After that time your booking will be cancelled automaticatically.</p>
        @{
            Session["paymentFor"] = "Appointment Booking";
            Session["timestamp" + Model.AppointmentId] = DateTime.Now;
            Session["insuredId"] = CurrentUserId;
            Session["paymentItemName"] = "Appointment Booking Fee";
            Session["Transaction description"] = "This transaction is related to the redemption of the fee regarding your appointment booking.";
            Session["price" + Model.AppointmentId] = Model.AppointmentCharge.ToString("0.00");
            @Html.ActionLink("Pay", "PayWithPayPal", "Payment", new { appointmentId = Model.AppointmentId }, new { @class = "btn btn-outline-success mb-3 mr-3" });
        }
        @Html.ActionLink("Cancel Booking", "CancelledBooking", "Insureds", new { appointmentId = Model.AppointmentId, insuredId = CurrentUserId }, new { id = "cancel", @class = "btn btn-outline-danger mb-3" })
    </section>

@section scripts {
    <script>
        function main() {
            var timeoutVar = setTimeout(function () {
                window.location.replace('/Insureds/CancelledBookingDueToNotPayingOnTime?appointmentId=' + '@Model.AppointmentId' + '&insuredId=' + '@CurrentUserId');
            }, 10*60*1000);
            document.querySelector('#pay').addEventListener('click', function () {
                clearTimeout(timeoutVar);
            })
            document.querySelector('#cancel').addEventListener('click', function () {
                clearTimeout(timeoutVar);
            })
        }
        window.addEventListener('load', main);
    </script>
}


