@model GreekHealthcareNetwork.Models.PaySubcriptionViewModel
@using GreekHealthcareNetwork.Models;
@using GreekHealthcareNetwork.Repositories;
@{
    ViewBag.Title = "Pay Subscription Fee";
    var _users = new UsersRepository();
}

<section id="pageHeader" class="container py-3">
    @if (!Request.IsAuthenticated)
    {
        <img src="https://via.placeholder.com/80x80.png?text=GHNlogo" class="rounded-circle mb-3" />
    }
    <h2>@ViewBag.Title</h2>
</section>

<section id="PaymentInfo" class="container">
    <p> Implementation pending</p>
    <p> Your paypal account will be charged: @Model.PlanFee.ToString("0.##")&euro;</p>
    <div id="pay_skip" class="mt-4">
        <div>
            @using (Html.BeginForm("PaySubscription", "Payment", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(m => m.UserId, new { @Value = Model.UserId })
                @Html.HiddenFor(m => m.PlanId, new { @Value = Model.PlanId })
                <div class="form-group">
                    <div id="skip" class="col-md-12">
                        <input type="submit" class="btn btn-outline-success" value="Pay" />
                    </div>
                </div>
            }
        </div>
        @{
            var user = _users.GetUserById(Model.UserId);
            string doctorRoleId = _users.GetRoleIdByName("Doctor");
            string insuredRoleId = _users.GetRoleIdByName("Insured");
            if (user.Roles.Any(r => r.RoleId.Equals(doctorRoleId)))
            {
                @Html.ActionLink("Back to previous page", "DoctorPayDoctorPlan", "Account", new { userId = Model.UserId }, new { id = "backToPreviousPage", @class = "btn btn-outline-danger mb-3" })
            }
            else if (user.Roles.Any(r => r.RoleId.Equals(insuredRoleId)))
            {
                @Html.ActionLink("Back to previous page", "ClientPayInsuredPlan", "Account", new { userId = Model.UserId }, new { id = "backToPreviousPage", @class = "btn btn-outline-danger mb-3" })
            }
        }
    </div>
</section>

@section cssScripts {
    <link href="~/Content/registration.css" rel="stylesheet" />
}

@*@section scripts {
    <script>
        $(document).ready(function () {
            const firstRowHeight = +$('#firstRow').css('height').split('px')[0];;
            console.log(firstRowHeight);
            $('#firstRow').css('height', 'calc(100vh - 156.4px)');
            const minHeight = +$('#firstRow').css('height').split('px')[0];;
            console.log(minHeight);
            if (firstRowHeight > minHeight) {
                $('#firstRow').css('height', firstRowHeight);
            }
        })
    </script>
}*@
