@model GreekHealthcareNetwork.Models.SearchLoginViewModel

    <form id="search" class="form-inline my-3 px-2" method="get" action="@Url.Action("SearchResults", "Search")">
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control mr-sm-2 my-2", type = "search", placeholder = "First Name", aria_label = "Search" })
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control mr-sm-2 my-2", type = "search", placeholder = "Last Name", aria_label = "Search" })
        @if (ViewBag.Title.Contains("Doctors"))
        {
            <label for="DoctorSpecialty" class="control-label ml-2 mr-2">Medical Specialty:</label>
            <select id="DoctorSpecialty" name="DoctorSpecialty" class="form-control mr-2">
                <option value="-1"> All </option>
                @foreach (var item in Model.MedicalSpecialties)
                {
                    <option value="@((int)item)">@item</option>
                }
            </select>
        }
        else if (ViewBag.Title.Contains("Insureds"))
        {
            <label for="InsuredPlan" class="control-label ml-2 mr-2">Insured Plan:</label>
            <select id="InsuredPlan" name="InsuredPlan" class="form-control mr-2">
                <option value="-1"> All </option>
                <option value="-3"> No Plan </option>
                @foreach (var item in Model.InsuredPlans)
                {
                    <option value="@(item.Id)">@item.Name</option>
                }
            </select>
        }
        else
        {
            <label for="DoctorSpecialty" class="control-label ml-2 mr-2">Medical Specialty:</label>
            <select id="DoctorSpecialty" name="DoctorSpecialty" class="form-control mr-2">
                <option value="-1"> All </option>
                <option value="-2"> None </option>
                @foreach (var item in Model.MedicalSpecialties)
                {
                    <option value="@((int)item)">@item</option>
                }
            </select>

            <label for="InsuredPlan" class="control-label ml-2 mr-2">Insured Plan:</label>
            <select id="InsuredPlan" name="InsuredPlan" class="form-control mr-2">
                <option value="-1"> All </option>
                <option value="-2"> None </option>
                <option value="-3"> No Plan </option>
                @foreach (var item in Model.InsuredPlans)
                {
                    <option value="@(item.Id)">@item.Name</option>
                }
            </select>

            if (ViewBag.Title.Contains("Appointments Report"))
            {
                <label for="FromDate" class="control-label ml-2 mr-2">From:</label>
                <input id="FromDate" name="FromDate" class="form-control mr-sm-2 my-2 mr-2" type="date" />

                <label for="UntilDate" class="control-label ml-2 mr-2">Until:</label>
                <input id="UntilDate" name="UntilDate" class="form-control mr-sm-2 my-2 mr-2" type="date" />
            }
        }
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
    </form>