@using Microsoft.AspNet.Identity;
@using GreekHealthcareNetwork.Repositories;
@{
    var userId = @User.Identity.GetUserId();
    var users = new UsersRepository();
    var messages = new MessagesRepository();
    var profilePicture = users.GetUserById(userId).ProfilePicture;
    long unreadMessages = messages.CountUnreadMessagesOfUser(userId);
    long unreadVisitorMessages = messages.CountUnreadVisitorMessagesOfUser(userId);
}
@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()
    <header id="headerAdmin">
        <div class="container d-flex flex-row align-items-center justify-content-between">

            <div id="logo">
                <a href="/Admin/Index"><img src="@Url.Content("~/Content/img/GHN_Logo.png")" alt="GHN" title="" /></a>
                <!-- Uncomment below if you prefer to use a text logo -->
                @*<h1><a href="/Admin/Index">GHN</a></h1>*@
            </div>
            <div id="profilePic">
                <ul class="nav-menu" style="margin-right: 100px;">
                    <li class="nav-menu menu-has-children">
                        <a href="#">
                            <img src="@Url.Content("~/Content/img/Admins/" + userId + "/" + profilePicture)" class="rounded-circle mt-2" style="max-height:40px; max-width:40px" alt="User" title="" />
                        </a>
                        <ul>
                            <li>
                                @Html.ActionLink("Profile", "UserProfile", "User")
                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    
    if (!((string)ViewBag.Title).Contains("Home"))
    {
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block sidebar">
                    <div id="nav-menu-container">
                        <ul class="nav nav-menu flex-column mb-2">
                            <li>
                                @Html.ActionLink("Home", "Index", "Admin")
                            </li>
                            <li>
                                @Html.ActionLink("Doctors", "Doctors", "Admin")
                            </li>
                            <li>
                                @Html.ActionLink("Insureds", "Insureds", "Admin")
                            </li>
                            <li style="display: flex; align-items: center;">
                                @Html.ActionLink("Messages", "Messages", "User") <span id="unreadMessagesCount" style="font-weight:900;">@(unreadMessages != 0 ? "(" + unreadMessages + ")" : "")</span>
                            </li>
                            <li style="display: flex; align-items: center;">
                                @Html.ActionLink("Visitor Messages", "VisitorMessages", "Admin") <span id="unreadVisitorMessagesCount" style="font-weight:900;">@(unreadVisitorMessages != 0 ? "(" + unreadVisitorMessages + ")" : "")</span>
                            </li>
                            <li>
                                @Html.ActionLink("Insured Plans", "InsuredPlans", "Admin")
                            </li>
                            <li>
                                @Html.ActionLink("Doctor Plans", "DoctorPlans", "Admin")
                            </li>
                            <li>
                                @Html.ActionLink("Appointments Report Page", "AppointmentsReportPage", "Admin")
                            </li>
                            <li>
                                @Html.ActionLink("Subscriptions Expired Report Page", "SubscriptionsExpiredReportPage", "Admin")
                            </li>
                            <li>
                                @Html.ActionLink("Create Admin User", "CreateAdminUser", "Admin")
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    }
}

