@using Microsoft.AspNet.Identity;
@using GreekHealthcareNetwork.Repositories;
@{
    var userId = @User.Identity.GetUserId();
    var users = new UsersRepository();
    var profilePicture = users.GetUserById(userId).ProfilePicture;
}
@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()
    <header id="headerAdmin">
        <div class="container d-flex flex-row align-items-center justify-content-between">

            <div id="logo">
                <!--<a href="/Home/Index"><img src="@Url.Content("~/Content/img/logo.png")" alt="GHN" title="" /></a>-->
                <!-- Uncomment below if you prefer to use a text logo -->
                <h1><a href="/Admin/Index"><img src="@Url.Content("~/Content/img/logo.png")" alt="GHN"/></a></h1>
            </div>
            <div id="nav-menu-container">
                <ul class="nav-menu">
                    <li>@Html.ActionLink("Home", "Index", "Admin")</li>
                </ul>
            </div>
            <div id="profilePic">
                <ul class="nav-menu">
                    <li class="nav-menu menu-has-children">
                        <a href="#">
                            <img src="@Url.Content("~/Content/img/Admins/" + userId + "/" + profilePicture)" class="rounded-circle mt-2" style="max-height:40px; max-width:40px" alt="User" title="" />
                        </a>
                        <ul>
                            <li>
                                @Html.ActionLink("Profile", "UserProfile", "User")
                            <a href="javascript:document.getElementById('logoutForm').submit()">
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    </header>

    <body>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="@Url.Action("Index", "Admin")">GΗΝ</a>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        @* @Html.Partial("_DoctorListPartial")*@
                        <div class="btn-group btn-block">
                            <a role="button" href="#doctors" class="text-left btn btn-lg btn-default col-xs-10">Doctors</a>
                            <a role="button" href="#insureds" class="text-left btn btn-lg btn-default col-xs-10">Insureds</a>
                            <a role="button" href="#messages" class="text-left btn btn-lg btn-default col-xs-10">Messages</a>
                            <a role="button" href="#visitormessages" class="text-left btn btn-lg btn-default col-xs-10">VisitorMessages</a>
                            <a role="button" href="#insuredplans" class="text-left btn btn-lg btn-default col-xs-10">InsuredPlans</a>
                            <a role="button" href="#doctorplans" class="text-left btn btn-lg btn-default col-xs-10">DoctorPlans</a>
                            <a role="button" href="#createotheradmin" class="text-left btn btn-lg btn-default col-xs-10">CreateOtherAdministrators</a>
                        </div>
                    </div>

                            @*<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Saved reports</span>
                <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                    <span data-feather="plus-circle"></span>
                </a>
            </h6>
            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="file-text"></span>
                        Current month
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="file-text"></span>
                        Last quarter
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="file-text"></span>
                        Social engagement
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="file-text"></span>
                        Year-end sale
                    </a>
                </li>
            </ul>*@
                 </nav>  
            </div>
         </div>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                @RenderBody()
            </main>
            <footer class="footer navbar-fixed-bottom">
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>

        @*<div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>*@
        @*<div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
        <nav class="fixed-bottom navbar-light bg-light text-center">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </nav>


        @Scripts.Render("~/bundles/jquery")
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/dashboard")
        @RenderSection("scripts", required: false)
    </body>
} 

