@model GreekHealthcareNetwork.Models.SearchLoginViewModel
@using GreekHealthcareNetwork.Models
@using System.Globalization;
@{
    string visitorUserId;
    int doctors;
    int insureds;
    int appointments;
    using (var db = new ApplicationDbContext())
    {
        visitorUserId = db.Users.SingleOrDefault(u => u.Email.Equals("visitor@ghn.gr")).Id;
        doctors = db.Doctors.Include("User").Where(d => d.User.IsActive == true).Count();
        insureds = db.Insureds.Include("User").Where(d => d.User.IsActive == true).Count();
        appointments = db.Appointments.Count();
    }
}
<section id="home">
    <div class="home-container">
        <h1>Welcome to Greek Healthcare Network!</h1>
        <h2>We offer you various health insurance plans in the most competitive prices.</h2>
        <a href="#about" class="btn-get-started">Get Started</a>
    </div>
</section>

<main id="main">
    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">
            <div class="row about-container">

                <div class="col-lg-6 content order-lg-1 order-2">
                    <h2 class="title">A Few Words About Us</h2>
                    <p>
                        The Greek Healthcare Network (GHN) company was founded in 2015. Since then we are steadily growing in size, reaching out to more people day by day and gaining recognition among doctors and our clients for the services we offer to them.
                    </p>

                    <div class="icon-box wow fadeInUp">
                        <div class="icon"><i class="fa fa-users"></i></div>
                        <h4 class="title">Our Team</h4>
                        <p class="description">We are a group of highly inspired and motivated professionals, trying to offer services of the highest quality to our clients</p>
                    </div>

                    <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon"><i class="fa fa-empire"></i></div>
                        <h4 class="title">Our Vision</h4>
                        <p class="description">We not only aim at becoming one the most successful companies in the healthcare field in Greece, but also satisfying our target group as much as possible by offering them state-of-the-art services.</p>
                    </div>

                    <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon"><i class="fa fa-bar-chart"></i></div>
                        <h4 class="title">Daily reporting activity</h4>
                        <p class="description">Our support team gets daily reports about our platform activity and is working constantly on improving our users' experience.</p>
                    </div>

                </div>

                <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
            </div>

        </div>
    </section><!-- #about -->
    <!--==========================
      Facts Section
    ============================-->
    <section id="facts">
        <div class="container wow fadeIn">
            <div class="section-header">
                <h3 class="section-title">Facts</h3>
                <p class="section-description">Our statistics indicate how successful we are!</p>
            </div>
            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">@Model.MedicalSpecialties.Count</span>
                    <p>Medical Specialties</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">@doctors</span>
                    <p>Doctors</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">@insureds</span>
                    <p>Insured Clients</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">@appointments</span>
                    <p>Appointments Booked</p>
                </div>

            </div>

        </div>
    </section><!-- #facts -->
    <!--==========================
      Insurance Plans Section
    ============================-->
    <section id="insurancePlans" class="home-section bg-gray paddingbot-60">
        <div class="container">
            <div class="section-header">
                <h3 class="section-title">Insurance Plans</h3>
                <p class="section-description">Register now as our client and choose one of the below insurance plans!</p>
            </div>
            <div class="row">

                @for (int i = 0; i < Model.InsuredPlans.Count; i++)
                {
                    <div @if (!Model.InsuredPlans[i].Name.Equals("Gold")) { @(new HtmlString("class=\"col-sm-4 pricing-box\"")) ; } else { @(new HtmlString("class=\"col-sm-4 pricing-box\" featured-price")) ; }>
                        <div class="wow bounceInUp" @if (i == 0) { @(new HtmlString("data-wow-delay=\"0.1s\"")) ; } else if (i == 1) { @(new HtmlString("data-wow-delay=\"0.3s\"")) ; } else { @(new HtmlString("data-wow-delay=\"0.2s\"")) ; }>

                            <div @if (i == 0) { @(new HtmlString("class=\"pricing-content general silver\"")) ; } else if (i == 1) { @(new HtmlString("class=\"pricing-content gold\"")) ; } else { @(new HtmlString("class=\"pricing-content general bronze\"")) ; }>
                                <h2>@Model.InsuredPlans[i].Name Plan</h2>
                                <h3>@Model.InsuredPlans[i].PlanFee.ToString("0.00")&euro; @if (Model.InsuredPlans[i].PlanDuration == 12)
                                {@(new HtmlString("<span>per year</span>"));
                            }</h3>
                                <ul>
                                    @if (Model.InsuredPlans[i].Name.Equals("Gold"))
                                    {
                                        <li><i class="fa fa-check icon-success"></i><span>@Model.InsuredPlans[i].PlanAppoinments Appointments</span></li>
                                        <li><i class="fa fa-times icon-danger"></i><span><del>Limited number of Appointments</del></span></li>
                                        <li><i class="fa fa-check icon-success"></i><span>Charge per appointment: <b>@(Model.InsuredPlans[i].AppointmentRate)&euro;</b></span></li>
                                        <li><i class="fa fa fa-times icon-danger"></i><span><del>Charge per appointment after limit has been exceeded</del></span></li>
                                        <li><i class="fa fa-check icon-success"></i><span><b>Free</b> cancellation of appointment <b>until 3 days before</b> the appointment date</span></li>
                                        <li><i class="fa fa-check icon-success"></i><span><b>Free</b> cancellation of appointment <b>less than 3 days before</b> the appointment date</span></li>

                                    }
                                    else
                                    {
                                        <li><i class="fa fa-times icon-danger"></i><span><del>Unlimited Appointments</del></span></li>
                                        <li><i class="fa fa-check icon-success"></i><span>Limited number of Appointments: <b>@Model.InsuredPlans[i].PlanAppoinments</b></span></li>
                                        <li><i class="fa fa-check icon-success"></i><span>Charge per appointment: <b>@(Model.InsuredPlans[i].AppointmentRate)% of appointment's total cost</b></span></li>
                                        <li><i class="fa fa-check icon-success"></i><span>Charge per appointment <b>after limit</b> has been exceeded: <b>@(Model.InsuredPlans[i].ExceededAppointmentRate)% of appointment's total cost</b></span></li>
                                        <li><i class="fa fa-check icon-success"></i><span><b>Full refund</b> in case of appointment cancellation <b>until 3 days before</b> the appointment date</span></li>
                                        <li><i class="fa fa-check icon-success"></i><span><b>@(Model.InsuredPlans[i].CancelationRefundPercentage)% refund</b> in case of cancellation <b>less than 3 days before</b> the appointment date</span></li>
                                    }
                                    <li><i class="fa fa-check icon-success"></i><span>Exchange messages with the doctors</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </section><!-- #insurancePlans -->
    <!--==========================
      Doctors Section
    ============================-->
    <section id="doctors">
        <div class="container">
            <div class="row">
                <div class="section-header col-md-12">
                    <h3 class="section-title">Meet Our Doctors!</h3>
                    <p class="section-description">Here you can find some of the most highly qualified doctors across a wide range of medical specialties</p>
                </div>
                @Html.Partial("_DoctorsListPartial")
            </div>
        </div>
    </section>

    <!-- #doctors -->
    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h3 class="section-title">Contact</h3>
                <p class="section-description">For more information about our platform, insurance plans, doctor subscription fees, etc. contact us via the form below.</p>
            </div>
        </div>

        <div class="container wow fadeInUp mt-5">
            <div class="row justify-content-center">

                <div class="col-lg-3 col-md-4 pt-3">

                    <div class="info">
                        <div>
                            <i class="fa fa-map-marker"></i>
                            <p>Panepistimiou 39, Athens 105 64</p>
                        </div>

                        <div>
                            <i class="fa fa-envelope"></i>
                            <p>info@ghn.gr</p>
                        </div>

                        <div>
                            <i class="fa fa-phone"></i>
                            <p>+30 21058764348</p>
                        </div>
                    </div>

                    <div class="social-links">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>

                </div>

                <div class="col-lg-7 col-md-8">
                    @using (Html.BeginForm("Post", "Messages", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div id="errorContainerMessage" class="container" style="display:none">
                            <div class="form-horizontal">
                                <p class="text-danger ml-3 mb-2"> Your message hasn't been sent. Please try again. </p>
                            </div>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.HiddenFor(m => m.VisitorMessage.SenderId, new { @Value = visitorUserId })
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                @Html.LabelFor(m => m.VisitorMessage.FirstName, new { @class = "col-md-6 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.VisitorMessage.FirstName, new { @class = "form-control", placeholder = "Your first name" })
                                    @Html.ValidationMessageFor(m => m.VisitorMessage.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group col">
                                @Html.LabelFor(m => m.VisitorMessage.LastName, new { @class = "col-md-6 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.VisitorMessage.LastName, new { @class = "form-control", placeholder = "Your last name" })
                                    @Html.ValidationMessageFor(m => m.VisitorMessage.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                @Html.LabelFor(m => m.VisitorMessage.Email, new { @class = "col-md-6 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.VisitorMessage.Email, new { @class = "form-control", placeholder = "Your email" })
                                    @Html.ValidationMessageFor(m => m.VisitorMessage.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group col">
                                @Html.LabelFor(m => m.VisitorMessage.Subject, new { @class = "col-md-6 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.VisitorMessage.Subject, new { @class = "form-control", placeholder = "Message Subject" })
                                    @Html.ValidationMessageFor(m => m.VisitorMessage.Subject, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                @Html.LabelFor(m => m.VisitorMessage.MessageText, new { @class = "col-md-6 control-label" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(m => m.VisitorMessage.MessageText, new { @class = "form-control", placeholder = "Write your message here", rows = 5 })
                                    @Html.ValidationMessageFor(m => m.VisitorMessage.MessageText, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group col" style="margin-top: 27px">
                                <div class="col-md-offset-2 col-md-10">
                                    <input id="sendContactForm" type="submit" class="btn btn-outline-dark" value="Send Message" />
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>

        </div>
    </section><!-- #contact -->

</main>

<!-- Modal: Visitor Message Sent -->
<div class="modal fade" id="VisitorMessageSent" tabindex="-1" role="dialog" aria-labelledby="VisitorMessageSentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="VisitorMessageSentLabel">Success</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Your message was sent successfully!</p>
            </div>
        </div>
    </div>
</div>

<!--Modal: Login / Register Form-->
<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="modalLRFormLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Modal cascading tabs-->
            <div class="modal-c-tabs">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs md-tabs tabs-3 light-blue darken-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="/Account/DoctorRegister">
                            <span>
                                <i class="fa fa-user-plus mr-1"></i>
                                <span>Register as Doctor</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Account/ClientRegister">
                            <span>
                                <i class="fa fa-user-plus mr-1"></i>
                                <span>Register as Client</span>
                            </span>
                        </a>
                    </li>
                </ul>

                <!-- Tab panels -->
                <div class="tab-content">
                    <!--Panel 7-->
                    <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

                        <!--Body-->
                        <div class="modal-body mb-1">
                            <h4 class="modal-title w-100 font-weight-bold"><i class="fa fa-user mr-1"></i>Login</h4>
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="md-form form-sm mb-5">
                                    <i class="fa fa-envelope prefix"></i>
                                    <label for="UserName">Your username/email</label>
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control form-control-sm validate" })
                                    @*<input type="text" id="UserName" name="UserName" class="form-control form-control-sm validate" data-val="true" data-val-required="The Username/Email field is required.">*@
                                    <span class="field-validation-valid text-danger" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
                                </div>

                                <div class="md-form form-sm mb-4">
                                    <i class="fa fa-lock prefix"></i>
                                    <label for="Password">Your password</label>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-sm validate" })
                                    @*<input type="password" id="Password" name="Password" class="form-control form-control-sm validate" data-val="true" data-val-required="The Password field is required.">*@
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <div class="checkbox">
                                            <input data-val="true" data-val-required="Remember me? field is required." id="RememberMe" name="RememberMe" type="checkbox" value="true">
                                            <input name="RememberMe" type="hidden" value="false">
                                            <label for="RememberMe">Remember me?</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <button class="btn btn-info">Login <i class="fa fa-sign-in ml-1"></i></button>
                                </div>
                            }
                        </div>
                        <!--Footer-->
                        <div class="modal-footer">
                            @*<div class="options text-center text-md-right mt-1">
                                <p><a href="/Account/ForgotPassword" class="blue-text">Forgot Password?</a></p>
                            </div>*@
                            <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                    <!--/.Panel 7-->
                </div>

            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Login / Register Form-->

@section scripts {
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                $('#nav-menu-container > ul > li').removeClass('menu-active');
                if ($(this).scrollTop() < (+$('#home').css('height').split('px')[0])) {
                    $('#homeLink').addClass('menu-active');
                }
                else if ($(this).scrollTop() < (+$('#home').css('height').split('px')[0]) + (+$('#about').css('height').split('px')[0])) {
                    $('#aboutLink').addClass('menu-active');
                }
                else if ($(this).scrollTop() < (+$('#home').css('height').split('px')[0]) + (+$('#about').css('height').split('px')[0]) + (+$('#facts').css('height').split('px')[0])) {
                    $('#factsLink').addClass('menu-active');
                }
                else if ($(this).scrollTop() < (+$('#home').css('height').split('px')[0]) + (+$('#about').css('height').split('px')[0]) + (+$('#facts').css('height').split('px')[0]) + (+$('#insurancePlans').css('height').split('px')[0])) {
                    $('#plansLink').addClass('menu-active');
                }
                else if ($(this).scrollTop() < (+$('#home').css('height').split('px')[0]) + (+$('#about').css('height').split('px')[0]) + (+$('#facts').css('height').split('px')[0]) + (+$('#insurancePlans').css('height').split('px')[0]) + (+$('#doctors').css('height').split('px')[0])) {
                    $('#doctorsLink').addClass('menu-active');
                }
                else {
                    $('#contactLink').addClass('menu-active');
                }
            });
        })
    </script>
}