<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GHN</title>
    <!-- Favicons -->
    <link href="@Url.Content("~/Content/img/favicon.png")" rel="icon">
    <link href="@Url.Content("~/Content/img/apple-touch-icon.png")" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @*<script>
        function fixFooterPosition(lines) {
            const tbody = lines * 104.8;
            $('#firstRow').css('height', 'calc(100vh - 340px)');
            const limit = +$('#firstRow').css('height').split('px')[0];
            if (tbody < limit) { 
                $('#firstRow').css('height', 'calc(100vh - 124.4px)');
            }
            else {
                $('#firstRow').css('height', 'initial');
            }
        }
    </script>*@
    @if (User.IsInRole("Insured"))
    {
        <link href="~/Content/insuredsNavbar.css" rel="stylesheet" />
    }
    @if (User.IsInRole("Doctor"))
    {
        <link href="~/Content/doctorsNavbar.css" rel="stylesheet" />
    }
    @if (User.IsInRole("Administrator"))
    {
        <link href="~/Content/adminsNavbar.css" rel="stylesheet" />
    }
    @RenderSection("cssScripts", required: false)
</head>
<body>
    <div id="firstRow">
        @if (!Request.IsAuthenticated && !((string)ViewBag.Title).Contains("Registration") && !((string)ViewBag.Title).Contains("Subscription"))
        {
            @Html.Partial("_VisitorNavbarPartial");
        }
        @if (User.IsInRole("Doctor") && !((string)ViewBag.Title).Contains("Home"))
        {
            <div class="mb-4" style="height: 78px;">
                @Html.Partial("_DoctorNavBarPartial")
            </div>
        }
        else if (User.IsInRole("Doctor"))
        {
            @Html.Partial("_DoctorNavBarPartial")
        }
        @if (User.IsInRole("Insured") && !((string)ViewBag.Title).Contains("Home"))
        {
            <div class="mb-4" style="height: 78px;">
                @Html.Partial("_InsuredNavBarPartial")
            </div>
        }
        else if (User.IsInRole("Insured"))
        {
            @Html.Partial("_InsuredNavBarPartial")
        }
        @if (User.IsInRole("Administrator") && !((string)ViewBag.Title).Contains("Home"))
        {
            <div class="mb-4" style="height: 78px;">
                @Html.Partial("_AdminNavBarPartial")
            </div>
        }
        else if (User.IsInRole("Administrator"))
        {
            @Html.Partial("_AdminNavBarPartial")
        }


        <div id="mainBody">
            @RenderBody()
        </div>
    </div>

    <!--==========================
        Footer
    ============================-->
    <footer id="footer" class="col-12 mt-5">
        <div class="container">
            <div class="copyright">
                &copy; Copyright @DateTime.Now.Year <strong>G.H.N.</strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!--
                    All the links in the footer should remain intact.
                    You can delete the links only if you purchased the pro version.
                    Licensing information: https://bootstrapmade.com/license/
                    Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
                -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/regnaLibs")
    @Scripts.Render("~/bundles/regnaScripts")
    @RenderSection("scripts", required: false)
    @RenderSection("AppointmentScripts", required: false)
    <script src="~/Scripts/setNavItemActive.js"></script>
</body>
</html>
