@model GreekHealthcareNetwork.Models.Appointment
    @{ 
        var refundAmount = (Model.InsuredAppointmentCharge * Convert.ToDecimal(Model.Insured.InsuredPlan.CancelationRefundPercentage)) * 0.01m;
        var fullRefund = Model.InsuredAppointmentCharge;
        string date = Model.AppointmentDate.Date.ToString("dd-MM-yyyy");
    }

<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Appointment Cancellation</h4>
        </div>
        <div class="modal-body">
            @if (User.IsInRole("Doctor"))
            {
                <h5>You are about to cancel your appointment on @date with @Model.Insured.User.FirstName @Model.Insured.User.LastName<text>.</text></h5>
            }
            @if (User.IsInRole("Insured"))
            {
                <h5>You are about to cancel your appointment on @date with the @Model.Doctor.MedicalSpecialty Dr. @Model.Doctor.User.FirstName @Model.Doctor.User.LastName</h5>
                if (((int)(Model.AppointmentDate - DateTime.Now.Date).Days < 3) && (Model.Insured.InsuredPlan.Name == "Bronze" || Model.Insured.InsuredPlan.Name == "Silver"))
                {
                      <h5>Since the appointment is less than 3 days away you will get a refund of @Model.Insured.InsuredPlan.CancelationRefundPercentage% (@Math.Round(refundAmount, 2) &euro;).</h5>
                }
                else
                {
                    <h5>You will get a full refund @((Model.Insured.InsuredPlan.Name == "Gold") ? "" : Math.Round(fullRefund, 2) + "\u20AC").</h5>
                }
            }
            <h5>Do you want to proceed?</h5>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
            <a class="btn btn-danger btn-ok" style="color:white;">Yes</a>
        </div>
    </div>
</div>
