@model GreekHealthcareNetwork.Models.PayAppointmentChargeViewModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Pay Appointment Charge";
    var CurrentUserId = User.Identity.GetUserId();
}

<section id="PaymentInfo" class="container">
    <h2 class="my-3">@ViewBag.Title</h2>
    <p> Implementation pending</p>
    <p> Your paypal account will be charged: @Model.AppointmentCharge.ToString("0.##")&euro;</p>
    @using (Html.BeginForm("PayAppointmentCharge", "Payments", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.AppointmentId, new { @Value = Model.AppointmentId })
        <input type="submit" class="btn btn-outline-success mb-3" value="Pay" />
    }
    @Html.ActionLink("Cancel Booking", "CanceledBooking", "Insureds", new { appointmentId = Model.AppointmentId, insuredId = CurrentUserId}, new { @class = "btn btn-outline-danger mb-3" })
</section>

