@model GreekHealthcareNetwork.Models.SearchViewModel
@{
    ViewBag.Title = "Appointments History";
}

@section cssScripts{
<link href="@Url.Content("~/Content/TestPlaton.css")" type="text/css" rel="stylesheet" />
}

<main id="main">
    <div>
    </div>
    <div class="col-8 offset-2 mt-5">
        <div class="page-header">
            <h1>
                Appointments History
            </h1>
        </div>
        @Html.Partial("_SearchPartial")
        <!-- Appointments -->
        <div>
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        @*  @if (User.IsInRole("Doctor"))  *@
                        {
                        <th scope="col">Patient</th>
                        }
                        @*  @if (User.IsInRole("Insured"))  *@
                        {
                        <th scope="col">Doctor</th>
                        <th scope="col">Specialty</th>
                        }
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody id="appointmentsList">

                    @*@foreach (var item in Model)
                    {
                    <tr>
                        <td><img src="https://via.placeholder.com/20" class="rounded-circle w-100 h-100" alt=""></td>
                        <td>Michael Johanson</td>
                        <td>Oncologist</td>
                        <td>@item.AppointmentDate</td>
                        <td>@item.AppointmentStartTime - @item.AppointmentEndTime</td>
                        <td>@item.AppointmentStatus</td>
                        <td>
                            <button class="btn btn-light">View</button>
                            <button class="btn btn-danger">Cancel</button>
                        </td>
                    </tr>
                    }
                    <tr>
                        <td><img src="https://via.placeholder.com/20" class="rounded-circle w-100 h-100" alt=""></td>
                        <td>Michael Johanson</td>
                        <td>Oncologist</td>
                        <td>12/12/2019</td>
                        <td>10:00 - 10:30</td>
                        <td>Completed</td>
                        <td>
                            <button class="btn btn-light">View</button>
                            <button class="btn btn-danger">Cancel</button>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="https://via.placeholder.com/20" class="rounded-circle w-100 h-100" alt=""></td>
                        <td>Michael Johanson</td>
                        <td>Oncologist</td>
                        <td>12/12/2019</td>
                        <td>10:00 - 10:30</td>
                        <td>Completed</td>
                        <td>
                            <button class="btn btn-light">View</button>
                            <button class="btn btn-danger">Cancel</button>
                        </td>
                    </tr>*@

                </tbody>
            </table>
        </div>
    </div>
</main>

@section AppointmentScripts{
<script>
        $(document).ready(function () {
            function ListAppointments(firstName, lastName, specialty, appointmentDate) {
                if (appointmentDate == "") {
                    appointmentDate = "0001-01-01";
                }
                $.ajax({
                    dataType: 'json',
                    type: 'get',
                    url: 'api/Search/api/Search/InsuredAppointmentsSearchResults?doctorsFirstName=' + firstName + '&doctorsLastName=' + lastName + '&doctorsSpecialty=' + specialty + '&appointmentDay=' + appointmentDate,
                    success: function (data) {
                        $('#appointmentsList').empty();
                        if (data.length = 0) {
                            $("#appointmentsList").append('<p> There are no appointments matching these criteria. </p>')
                        }
                        else {
                            data.forEach(function (appointment) {
                                const appointmentStart = appointment.AppointmentStartTime.split(":");
                                const appointmentEnd = appointment.AppointmentEndTime.split(":");
                                $('#appointmentsList').append('<tr><td>' +
                                    '<img src="@Url.Content("~/Content/img/Doctors/")' + appointment.User.ProfilePicture + 'alt="' + appointment.User.ProfilePicture + '"' + 'class="rounded-circle w-100 h-100"></td>' +
                                    '<td>' + appointment.User.FirstName + ' ' + appointment.User.LastName + '</td>' +
                                    '<td>' + appointment.Doctor.MedicalSpecialty + '</td>' +
                                    '<td>' + appointment.AppointmentDate + '</td>' +
                                    '<td>' + appointmentStart[0] + ':' + appointmentStart[1] + '-' + appointmentEnd[0] + ':' + appointmentEnd[1] + '</td>' +
                                    '<td>' + appointment.AppointmentStatus + '</td>' +
                                    '<td><button class="btn btn-light">View</button><button class="btn btn-danger">Cancel</button></td></tr>')
                            });
                        }
                    },
                    error: function (error) {
                        $('#appointmentsList').empty();
                        $("#appointmentsList").append('<p> Something went wrong. Please try again later. </p>')
                    }
                })
            }
            ListAppointments('', '', -1, '0001-01-01');
            $('#search').on('submit', function (e) {
                e.preventDefault();
                ListAppointments(e.target[0].value, e.target[1].value, e.target[2].value, e.target[3].value);
            })
        })
</script>
    }


