@model GreekHealthcareNetwork.Models.ProfileDetailsViewModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Profile";
}

@section cssScripts{
    <link href="@Url.Content("~/Content/TestPlaton.css")" type="text/css" rel="stylesheet" />
}

<main id="main">
    <div>
        <div class="col-md-5 offset-md-4">
            <div class="page-header">
                <h1>Profile</h1>
            </div>
            <div class="row" id="profileSection">
                <div class="col-md-4">
                    @if (User.IsInRole("Doctor"))
                    {
                        <img src="@Url.Content("~/Content/img/Doctors/" + @User.Identity.GetUserId() + "/")@Model.User.ProfilePicture" class="rounded-circle w-100 h-100" alt="">
                    }
                    @if (User.IsInRole("Insured"))
                    {
                        <img src="@Url.Content("~/Content/img/Insureds/" + @User.Identity.GetUserId() + "/")@Model.User.ProfilePicture" class="rounded-circle w-100 h-100" alt="">
                    }
                </div>
                <div class="col-md-8 align-self-center">
                    <h4>
                        @if (User.IsInRole("Doctor"))
                        {
                            <text>Doctor</text>
                        }
                        @if (User.IsInRole("Insured"))
                        {
                            if (Model.Insured.InsuredPlan != null)
                            {
                                @Model.Insured.InsuredPlan.Name <text> Member</text>
                            }
                            else
                            {
                                <text> No insurance plan yet </text>
                            }
                        }
                    </h4>
                    @if (!Model.User.SubscriptionEndDate.ToString("dd-MM-yyyy").Equals("01-01-0001"))
                    {
                        <p>Exp: @Model.User.SubscriptionEndDate.ToString("dd-MM-yyyy")</p>
                        <button type="button" class="btn btn-info mt-2">Renew</button>
                    }
                    else
                    {
                        if (User.IsInRole("Insured"))
                        {
                            <button type="button" class="btn btn-info mt-2">Buy a plan</button>
                        }
                        else if (User.IsInRole("Doctor"))
                        {
                            <button type="button" class="btn btn-info mt-2">Pay Subscription</button>
                        }
                    }
                </div>
            </div>
            <div>
                <table class="table table-borderless mt-5">
                    <tbody>
                        <tr>
                            <th>Name:</th>
                            <td>
                                @Model.User.FirstName
                            </td>
                        </tr>
                        <tr>
                            <th>Last Name:</th>
                            <td>@Model.User.LastName</td>
                        </tr>
                        @if (User.IsInRole("Doctor"))
                        {
                            <tr>
                                <th>Specialty:</th>
                                <th>@Model.Doctor.MedicalSpecialty</th>
                            </tr>
                        }
                        <tr>
                            <th>Date of birth:</th>
                            <td>@Model.User.DoB.ToString("dd/MM/yyyy")</td>
                        </tr>
                        <tr>
                            <th>AMKA:</th>
                            <td>@Model.User.AMKA</td>
                        </tr>
                        <tr>
                            <th>@Html.LabelFor(m => m.User.PaypalAccount)</th>
                            <td>@Model.User.PaypalAccount</td>
                        </tr>
                        @if (User.IsInRole("Doctor"))
                        {
                            if (Model.Doctor.WorkingHours.Count == 0)
                            {
                                <tr>
                                    <th>Working Hours:</th>
                                    <td>Doctor has not declared any working hours yet.</td>
                                </tr>
                            }
                            else
                            {
                                foreach (var item in Model.Doctor.WorkingHours)
                                {
                                    
                                    <tr>
                                        <th>@(Model.Doctor.WorkingHours.First() == item ? "Working Hours:" : "")</th>
                                        <td>@item.WorkingDayConcat</td>
                                    </tr>
                                }
                            }
                        }
                        <tr>
                            <th>Address:</th>
                            <td>
                                @if (User.IsInRole("Doctor"))
                                {
                                    @Model.Doctor.OfficeAddress
                                }
                                @if (User.IsInRole("Insured"))
                                {
                                    @Model.Insured.HomeAddress
                                }
                            </td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>@Model.User.Email</td>
                        </tr>
                        <tr>
                            <th>Tel :</th>
                            <td>@Model.User.PhoneNumber</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button type="button" id="editProfileButton" class="btn btn-danger" onclick="location.href='@Url.Action("EditProfile", "User")'">Edit Details</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>


