@model GreekHealthcareNetwork.Models.ProfileDetailsViewModel
@{ 
    ViewBag.Title = "Profile";
}

@section cssScripts{
    <link href="@Url.Content("~/Content/TestPlaton.css")" type="text/css" rel="stylesheet" />
}

<main id="main">
    <div>
        <div class="col-md-5 offset-md-4">
            <div class="page-header">
                <h1>Profile</h1>
            </div>
            <div class="row" id="profileSection">
                <div class="col-md-4">
                    <img src="@Url.Content("~/Content/img/Doctors/")@Model.User.ProfilePicture" class="rounded-circle w-100 h-100" alt="">
                </div>
                <div class="col-md-8 align-self-center">
                    <h4>
                        @if (User.IsInRole("Doctor"))
                        {
                            <text>Doctor</text>
                        }
                         @if (User.IsInRole("Insured"))
                         {
                             @Model.Insured.InsuredPlan.Name <text> Member</text>
                         }
                    </h4>
                    <p>Exp: @Model.User.SubscriptionEndDate.ToString("dd/MM/yyyy")</p>
                    <button type="button" class="btn btn-info">Renew</button>
                </div>
            </div>
            <div>
                <table class="table table-borderless mt-5">
                    <tbody>
                        <tr>
                            <th>Name:</th>
                            <td>
                                @Model.User.FirstName
                            </td>
                        </tr>
                        <tr>
                            <th>Last Name:</th>
                            <td>@Model.User.LastName</td>
                        </tr>
                        @if (User.IsInRole("Doctor"))
                        {
                            <tr>
                                <th>Specialty:</th>
                                <th>@Model.Doctor.MedicalSpecialty</th>
                            </tr>
                        }
                        <tr>
                            <th>Date of birth:</th>
                            <td>@Model.User.DoB.ToString("dd/MM/yyyy")</td>
                        </tr>
                        <tr>
                            <th>AMKA:</th>
                            <td>@Model.User.AMKA</td>
                        </tr>
                        @if (User.IsInRole("Doctor"))
                        {
                            <tr>
                                <th>Working Hours:</th>
                                <td> Data of working hours </td>  @*<- To be filled with doctors working hours*@
                            </tr>
                        }
                        <tr>
                            <th>Address:</th>
                            <td>
                                @if (User.IsInRole("Doctor"))
                                {
                                    @Model.Doctor.OfficeAddress
                                }
                                @if (User.IsInRole("Insured"))
                                {
                                    @Model.Insured.HomeAddress
                                }
                            </td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>@Model.User.Email</td>
                        </tr>
                        <tr>
                            <th>Tel :</th>
                            <td>@Model.User.PhoneNumber</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button type="button" id="editProfileButton" class="btn btn-danger" onclick="location.href='@Url.Action("EditProfile", "User")'">Edit Details</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>


