@model GreekHealthcareNetwork.Models.PayDoctorPlanViewModel
@using GreekHealthcareNetwork.Repositories
@using Microsoft.AspNet.Identity;
@using GreekHealthcareNetwork.Models;
@using System.Globalization;
@{
    DateTime subscriptionEndDate = new DateTime();
    Session["paymentFor"] = "Subscription";
    Session["userId"] = Model.DoctorId;
    Session["planId"] = Model.DoctorPlan.Id;
    Session["paymentItemName"] = "Doctor Subscription Fee";
    Session["Transaction description"] = "This transaction is related to the redemption of the subscription fee regarding your medical specialty.";
    Session["price"] = Model.DoctorPlan.Fee.ToString("0.00");
}

@if (!Request.IsAuthenticated)
{
    ViewBag.Title = "Doctor Registration";
    <section id="pageHeader" class="container py-3">
        <img src="@Url.Content("~/Content/img/GHN_Logo_dark.png")" class="mb-3" />
        <h2>@ViewBag.Title (3/3)</h2>
    </section>
}
else
{
    var CurrentUserId = User.Identity.GetUserId();
    using (var db = new ApplicationDbContext())
    {
        subscriptionEndDate = db.Users.SingleOrDefault(u => u.Id.Equals(CurrentUserId))
                                    .SubscriptionEndDate.Date;
    }
    if (subscriptionEndDate.ToString("yyyy-MM-dd").Equals("0001-01-01"))
    {
        ViewBag.Title = "Pay subscription";
    }
    else
    {
        ViewBag.Title = "Renew subscription";
    }
    <section id="pageHeader" class="container my-3">
        <h2>@ViewBag.Title</h2>
    </section>
}

<section id="doctorPlanInfo" class="container">
    <h4>Doctor subscription plan details:</h4>
    <hr class="thicker" />
    @if (!Request.IsAuthenticated || subscriptionEndDate.ToString("yyyy-MM-dd").Equals("0001-01-01"))
    {
        <p>
            The subscription fee corresponding to @(Model.DoctorPlan.MedicalSpecialty)s is @Model.DoctorPlan.Fee.ToString("0.00") &euro;.
            You can pay it off immediately or skip for now. However, if you skip payment, you will not be visible to patients so that they can book appointments.
        </p>
    }
    else
    {
        if (subscriptionEndDate >= DateTime.Now)
        {
            <p>
                The subscription fee corresponding to @(Model.DoctorPlan.MedicalSpecialty)s is @Model.DoctorPlan.Fee.ToString("0.00") &euro;.
                Your subscription is ending at @subscriptionEndDate.ToString("dd-MM-yyyy"). You can extend it now for another year after the end of it.
            </p>
        }
        else
        {
            <p>
                The subscription fee corresponding to @(Model.DoctorPlan.MedicalSpecialty)s is @Model.DoctorPlan.Fee.ToString("0.00") &euro;.
                Your subscription ended at @subscriptionEndDate.ToString("dd-MM-yyyy"). You can renew it now for another year starting from today.
            </p>
        }
    }
    <div id="pay_skip" class="mt-4">        
        @Html.ActionLink("Pay", "PayWithPayPal", "Payment", new { appointmentId = 0 }, new { id = "pay", @class = "btn btn-outline-success mr-3 mb-3" })
        <div>
            @using (Html.BeginForm("DoctorPayDoctorPlan", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(m => m.DoctorId, new { @Value = Model.DoctorId })
                <div class="form-group">
                    <div id="skip" class="col-md-12">
                        @if (!Request.IsAuthenticated || subscriptionEndDate.ToString("yyyy-MM-dd").Equals("0001-01-01"))
                        {
                            <input type="submit" class="btn btn-outline-danger" value="Skip" />
                        }
                        else
                        {
                            <input type="submit" class="btn btn-outline-danger" value="Back" />
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section cssScripts {
    <link href="~/Content/registration.css" rel="stylesheet" />
}

@*@section scripts {
        <script>
            $(document).ready(function () {
                const firstRowHeight = +$('#firstRow').css('height').split('px')[0];;
                console.log(firstRowHeight);
                $('#firstRow').css('height', 'calc(100vh - 156.4px)');
                const minHeight = +$('#firstRow').css('height').split('px')[0];;
                console.log(minHeight);
                if (firstRowHeight > minHeight) {
                    $('#firstRow').css('height', firstRowHeight);
                }
            })
        </script>
    }*@


